@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
测试阶段

<table class="table">
    <thead>
        <tr>
            <th>账号</th>
            <th>密码</th>
        </tr>
    </thead>
</table>